<section class="auth">
  <div class="auth-wrap main-back main-stroke">
    <h3><glitch>Идентификация</glitch></h3>
    <div class="auth-form">
      <div class="input">
        <input
          id="auth-login"
          required
          type="text"
          [(ngModel)]="login"
          name="login"
        />
        <div class="input-active">
          <label for="auth-login">Логин</label> <span></span>
        </div>
      </div>

      <div class="input">
        <input
          id="auth-password"
          required
          type="password"
          [(ngModel)]="password"
          name="password"
        />
        <div class="input-active">
          <label for="auth-password">Пароль</label> <span></span>
        </div>
      </div>

    </div>
    <div class="auth-additional">
        <h6>Создать новый профиль</h6>
    </div>
    <div class="auth-btns">
        <app-button (onClick)="loginHandler()">Получить доступ</app-button>
        <app-button (onClick)="loginHandler()">Войти как гость</app-button>
    </div>
  </div>
</section>
