<section class="auth">
  <div *ngIf="isLogin" class="auth-wrap main-back main-stroke">
    <h3><glitch>Идентификация</glitch></h3>
    <div class="auth-form">
      <div class="input">
        <input
          id="auth-username"
          required
          type="text"
          [(ngModel)]="login.username"
          name="username"
        />
        <div class="input-active">
          <label for="auth-username">Логин</label> <span></span>
        </div>
      </div>

      <div class="input">
        <input
          id="auth-password"
          required
          type="password"
          [(ngModel)]="login.password"
          name="password"
        />
        <div class="input-active">
          <label for="auth-password">Пароль</label> <span></span>
        </div>
      </div>

    </div>
    <div class="auth-additional" (click)="isLogin = false">
        <h6>Создать новый профиль</h6>
    </div>
    <div class="auth-btns">
        <app-button [loading]="auth.loading" (onClick)="loginHandler()">Получить доступ</app-button>
        <app-button [loading]="auth.loading" (onClick)="auth.loginAsGuest()">Войти как гость</app-button>
    </div>
  </div>

  <div *ngIf="!isLogin" class="auth-wrap main-back main-stroke">
    <h3><glitch>Новый пользователь</glitch></h3>
    <div class="auth-form">
      <div class="input">
        <input
          id="auth-username"
          required
          type="text"
          [(ngModel)]="register.username"
          name="username"
        />
        <div class="input-active">
          <label for="auth-username">Логин</label> <span></span>
        </div>
      </div>

      <div class="input">
        <input
          id="auth-email"
          required
          type="email"
          [(ngModel)]="register.email"
          name="email"
        />
        <div class="input-active">
          <label for="auth-email">Email</label> <span></span>
        </div>
      </div>

      <div class="input">
        <input
          id="auth-password"
          required
          type="password"
          [(ngModel)]="register.password"
          name="password"
        />
        <div class="input-active">
          <label for="auth-password">Пароль</label> <span></span>
        </div>
      </div>

      <div class="input">
        <input
          id="auth-rpassword"
          required
          type="password"
          [(ngModel)]="register.repeatPassword"
          name="rpassword"
        />
        <div class="input-active">
          <label for="auth-rpassword">Подтвердите</label> <span></span>
        </div>
      </div>

    </div>
    <div class="auth-additional" (click)="isLogin = true">
        <h6>Войти в существующий аккаунт</h6>
    </div>
    <div class="auth-btns">
        <app-button [loading]="auth.loading" (onClick)="registerHandler()">Создать аккаунт</app-button>
    </div>
  </div>
</section>
