.case-img {
  position: relative;

  aspect-ratio: 1 / 1;
  background-size: contain;
  background-position: center;

  div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      180deg,
      rgba(95, 186, 249, 0.3) 0%,
      rgba(95, 186, 249, 0) 50%,
      rgba(95, 186, 249, 0.3) 100%
    );
    background-size: 100% 200%;
    border: 2px solid #275f67;
    animation: screenCase 2s linear infinite alternate-reverse;

    @keyframes screenCase {
      from {
        background-position: top;
      }
      to {
        background-position: bottom;
      }
    }
  }

  img {
    position: absolute;
    width: 24px;
    height: 24px;
    z-index: 2;
    filter: drop-shadow(0px 0px 10px #62afd8);
    &:first-child {
      top: -3px;
      left: -3px;
      transform: scale(-1);
    }
    &:last-child {
      bottom: -6px;
      right: -6px;
    }
  }
}
