<div class="assembly-card">
    <img class="assembly-card-body" src="../../../assets/assembly-card.svg" alt="">
    <div class="assembly-card-title">
        <span>Сборка <b>{{assembly.author_name}}</b></span>
        <span>-</span>
        <span><b>"{{assembly.name}}"</b></span>
    </div>
    <div class="assembly-card-info">
        <div class="assembly-card-case">
            <app-case-img [url]="this.assembly.housing?.image"></app-case-img>
        </div>
        <div class="assembly-card-info-wrap">
            <div class="assembly-card-power">
                <app-progress-power [value]="getRating()"></app-progress-power>
            </div>
            <div class="assembly-card-components">
                <app-card *ngFor="let comp of getComponents()" [card]="comp"></app-card>
            </div>
            <div class="assembly-card-cost">
                <h5>{{getCost()}}$</h5>
            </div>
        </div>
    </div>
    <div *ngIf="canLiked" class="assembly-card-likes">
        <span>{{assembly.likes + +isLiked}}</span>
        <svg (click)="likeHandler()" [ngClass]="{'active': isLiked}" width="28" height="24" viewBox="0 0 28 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 7.99999C9 7.99999 11.2873 1 14 1C15.5 1 15.8992 1.40357 16.5 2.50005C17 3.41255 16 7.5 16 7.5C16 7.5 16.2958 7.5 23 7.5C29.7042 7.5 25.8737 19.2527 25 21C24 23 20 23 18.5 23C16.8323 23 12.7171 23 9.27137 23M9 7.99999H5.5C2.5 7.99999 1 9.99999 1 11.5C1 11.5 0.999974 15.5 1 19C1.00002 21.2091 2.79086 23 5 23C5.99876 23 7.55169 23 9.27137 23M9 7.99999L9.27137 23" stroke="white" stroke-width="2" stroke-linejoin="round"/>
        </svg>                      
    </div>
</div>